/* NavBar */
.nav-container {
    width: 100%;
    background-color: #33313b;
    color: #f6f5f5;
    text-align: center;
    padding: 20px;
}

/* search Bar */
.search-bar {
    width: 50%;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 15px 25px;
    font-size: 22px;
    border-radius: 50px 0 0 50px;
}
.search-form {
    display: flex;
    justify-content: center;
}
.search-btn {
    padding: 15px 20px;
    border: none;
    outline: none;
    margin-top: 20px;
    font-size: 22px;
    border-radius: 0 50px 50px 0;
}
